:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --min-transition: 0.3s;
}

.d-block {
  display: block;
}

/* start f-box */
.d-flex {
  display: flex;
}
.falign-c {
  align-items: center;
}
.between-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.flex1 {
  flex: 1;
}
/* end f-box */
/* start g-box */
.d-grid {
  display: grid;
}

.grid-fill {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.grid-fill-two {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.grid-fill-300 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-fill-200 {
  grid-template-columns: repeat(auto-fill, minmax(200, 1fr));
}

@media (max-width: 767px) {
  .grid-fill-mobile {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}
/* end g-box */
/* start padding-margin */
.p-20 {
  padding: 20px;
}

.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-30 {
  padding-left: 30px;
}

.m-0 {
  margin: 0;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-10 {
  margin-right: 10px;
}
.mr-5 {
  margin-right: 5px;
}
/* end padding-margin */

/* start position */
.pos-rela {
  position: relative;
}

.pos-abs {
  position: absolute;
}

/* end position */

/* start background-color */
.bg-wh {
  background-color: white;
}

.c-wh {
  color: white;
}

.bg-eee {
  background-color: #eee;
}

.c-black {
  color: black;
}

.c-gray {
  color: var(--grey-color);
}

.bg-gray {
  background-color: var(--grey-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.c-blue {
  color: var(--blue-color);
}

.c-green {
  color: var(--green-color);
}

.bg-green {
  background-color: var(--green-color);
}

.c-orange {
  color: var(--orange-color);
}

.bg-orange {
  background-color: var(--orange-color);
}

.c-blue {
  color: var(--blue-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.c-red {
  color: var(--red-color);
}

.bg-red {
  background-color: var(--red-color);
}

.c-777 {
  color: #777;
}
/* end background-color */
/* start font */
.txt-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-25 {
  font-size: 25px;
}
.fs-40 {
  font-size: 40px;
}
.fw-bold {
  font-weight: bold;
}

/* end font */
/*Start border */
.rad-6 {
  border-radius: 6px;
}

.rad-10 {
  border-radius: 10px;
}

.bord-c {
  border: 1px solid #ccc;
}

.border-ee {
  border: 1px solid #eee;
}

.bordb-ee {
  border-bottom: 1px solid #eee;
}

.b-none {
  border: none;
}

.rad-half {
  border-radius: 50%;
}

/*End border */
/* main title */
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}

.main-title::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}

.main-title::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
  bottom: -29px;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.h-full {
  height: 100%;
}

/* start mobiel */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }

  .main-title::before,
  .main-title::after {
    display: none;
  }

  .txt-c-mobile {
    text-align: center;
  }

  .block-mobile {
    display: block;
  }
}

/* end mobiel */
/* button */
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}

::placeholder {
  font-size: 13px;
}

/* button */
/* box shadow */
.box-sh {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* box shadow */
